{% extends 'bootstrap/base.html' %}

{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      <form method="POST" action="">
           {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.cafe.label }} {{ form.cafe(class="form-control") }}
          </div>
          <div class="form-group">
              {{ form.location_url.label }} {{ form.location_url(class="form-control") }}
          </div>
          <div class="form-group">
              {{ form.open_time.label }} {{ form.open_time(class="form-control") }}
          </div>
          <div class="form-group">
              {{ form.close_time.label }} {{ form.close_time(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.coffee_rate.label }} {{ form.coffee_rate(class="form-control") }}
          </div>
        <div class="form-group">
            {{ form.wifi_rate.label }} {{ form.wifi_rate(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.power_rate.label }} {{ form.power_rate(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-success">Submit </button>
      </form>

	  <p class="space-above"><a href="#">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}

